
<div style="text-align: center;">
    <h1>{{message}}</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form>
                <fieldset>
                <legend class="text-center">Valid information is required *
                       </legend>
                
                <div class="form-group">
                    <label for="userId"><span class="req">*</span> Identifiant:</label>
                    <input required type="text" [(ngModel)]="user.userId" name="userId"
                        class="form-control" type="text" placeholder="Entrer votre identifiant"/>
                </div>

                <div class="form-group">
                    <label for="username"><span class="req">*</span> Username:</label>
                    <input required type="text" [(ngModel)]="user.username" name="username"
                        class="form-control" type="text" placeholder="Entrer votre nom"/>
                </div>

                <div class="form-group">
                    <label for="password"><span class="req">*</span> password:</label>
                    <input required type="text" [(ngModel)]="user.password" name="password" 
                        class="form-control" type="text" placeholder="Entrer votre password"/>
                </div>

                <div class="form-group">
                    <label for="age"><span class="req">*</span> Age:</label>
                    <input required type="text" [(ngModel)]="user.age" name="age"
                        class="form-control" type="number" placeholder="Entrer votre age"/>
                </div>

                <div class="form-group">
                    <label for="gender"><span class="req">*</span> sexe:</label>
                    <input required type="text" [(ngModel)]="user.gender" name="gender"
                        class="form-control" type="text" placeholder="Entrer votre sexe"/>
                    <div class="status" id="status"></div>   
                </div>

                <div class="form-group">
                    <input class="btn btn-success" type="submit" name="submit_reg" value="Register" (click)="registerNow()">
                </div>
            </fieldset>
            </form>
        </div>
    </div>
</div>
