<!-- Load an icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- The sidebar -->
<div class="sidebar">
  <a routerLink="http://localhost/Gestion/"><i class="fa fa-fw fa-home"></i> Accueil</a>
  <a routerLink="http://localhost/CodeIgniterTest/index.php/PersonneController"><i class="fa fa-fw fa-wrench"></i> PHP</a>
  <a routerLink="/listePerson" routerLinkActive="active"><i class="fa fa-fw fa-user"></i> JAVA</a>
  <a routerLink="#contact"><i class="fa fa-fw fa-envelope"></i> Contact</a>
</div>
<div class="main">
  <div class="topnav" id="myTopnav">
    <a routerLink="/listePerson" class="active" class="fa fa-angry">Persone</a>
   <div class="dropdown">
      <button class="dropbtn" >Localisation
        <i class="fa fa-sort-down"> </i>
      </button>
      <div class="dropdown-content">
        <a routerLink="/listeProvince">Province</a>
        <a routerLink="/listeRegion">Region</a>
        <a routerLink="/listeRegion">District</a>
        <a routerLink="/listeCommune">Commune</a>
      </div>
    </div> 
    <a routerLink="" class="fa ">Naissance</a>
    <a routerLink="" class="fa ">Mariage</a> 
    <a routerLink="" class="fa ">Divorce</a>
    <a routerLink="#about">Contact</a>
    <a routerLink="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
  </div>
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Ajouter une province</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
           <form>
                <div class="form-group">
                  <label for="name"><span class="req">*</span> Nom:</label>
                  <input required type="text"  name="name" [(ngModel)]="personAdd.name"
                  class="form-control" type="text" placeholder="Entrer votre nom"/>
                </div>
      
                <div class="form-group">
                  <label for="username"><span class="req">*</span> Prénom:</label>
                  <input required type="text"  name="username" [(ngModel)]="personAdd.familyName"
                      class="form-control" type="text" placeholder="Entrer votre prénom"/>
                </div>
      
                <div class="form-group">
                  <label for="dateOfBirth"><span class="req">*</span> Date de naissance:</label>
                      <input required type="text" name="dateOfBirth" [(ngModel)]="personAdd.dateOfBirth" 
                      class="form-control" type="text" placeholder="lieu de naisance" /> <!--bsDatepicker -->
              </div>
      
      
              <div class="form-group">
                  <label for="placeholder"><span class="req">*</span> Lieu de naissance:</label><br/>
                  <select name="idCommune" [(ngModel)]="personAdd.idCommune">
                    <option>selectionner commune de naissance</option>
                    <option *ngFor="let commune of communeName" value="{{commune.idCommune}}">{{commune.nameCommune}}</option>
                  </select>
              </div>
      
              <div class="form-group">
                <label for="dateDelivry"><span class="req">*</span> Date de délivrance:</label>
                    <input required type="text"  name="dateDelivry" [(ngModel)]="personAdd.dateDelivry"
                    class="form-control" type="text" placeholder="Date de délivrance" /> <!--bsDatepicker -->
                <div class="status" id="status"></div>   
            </div>
      
      
      
              <div class="form-group">
                <label for="placeOfDelivry"><span class="req">*</span> Lieu de délivrance:</label><br/>
                <select name="placeOfDelivry" [(ngModel)]="personAdd.placeOfDelivry">
                  <option>selectionner lieu de delivrance </option>
                  <option *ngFor="let commune of communeName" value="{{commune.nameCommune}}">{{commune.nameCommune}}</option>
                </select> 
            </div>
      
            <div class="form-group"> 
              <label for="fatherName"><span class="req">*</span> Nom du père:</label>
              <input required type="text"  name="fatherName" [(ngModel)]="personAdd.fatherName"
                  class="form-control" type="text" placeholder="Nom du père"/>
              <div class="status" id="status"></div>   
            </div>
            
            <div class="form-group">
              <label for="motherName"><span class="req">*</span> Nom de la mère:</label>
              <input required type="text"  name="motherName" [(ngModel)]="personAdd.motherName"
                  class="form-control" type="text" placeholder="Nom de la mère"/>
              <div class="status" id="status"></div>   
            </div>
      
            <div class="form-group">
              <label for="profession"><span class="req">*</span> Profession:</label>
              <input required type="text"  name="profession" [(ngModel)]="personAdd.profession"
                  class="form-control" type="text" placeholder="profession"/>
              <div class="status" id="status"></div>   
            </div>
      
            <div class="form-group">
              <label for="dateDuplicate"><span class="req">*</span> Date duplicata:</label>
              <input  type="date"  name="dateDuplicate" [(ngModel)]="personAdd.dateDuplicate"
                  class="form-control" type="text" placeholder="date de délivrance" /> <!--bsDatepicker -->
              <div class="status" id="status"></div>   
            </div>
      
      
            <div class="form-group">
              <label for="placeOfDuplicateDate"><span class="req">*</span> Lieu duplicata:</label><br/>
              <select name="placeOfDuplicate" [(ngModel)]="personAdd.placeOfDuplicate">
                <option>selectionner lieu duplicata</option>
                <option *ngFor="let commune of communeName" value="{{commune.nameCommune}}">{{commune.nameCommune}}</option>
              </select>
            </div>

            <div class="form-group">
              <td class="span2"> <input type="radio" name="sexe" value="true" [(ngModel)] ="personAdd.sexe" required/> <label>Male</label></td>
              <td class="span6"><input type="radio" name="sexe" value="false" [(ngModel)] ="personAdd.sexe" required/> <label>femelle</label></td>
            </div>

            <div class="form-group">
              <td class="span6"><input type="radio" name="situationMatrimoniale" value="false" [(ngModel)] ="personAdd.situationMatrimoniale" required/> <label>Célibataire</label></td>
              <td class="span2"> <input type="radio" name="situationMatrimoniale" value="true" [(ngModel)] ="personAdd.situationMatrimoniale" required/> <label>Marié</label></td>
              </div>

          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#actualiserListe" (click)="modal.close(addPersonNow())">Enregister</button>
        </div>
      </ng-template>
          
      <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Ajouter personne</button>
  <hr>

      <pre>{{closeResult}}</pre>
    <div class="vontainer">
        <div class="table-responsive">
            <table class="table table-dark">
                <thead > 
                    <tr class="table-dark">
                        <th>N° CIN</th>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Lieu de naissance</th>
                        <th>Date de naissance</th>
                  <!--  <th>Lieu de délivrance</th> 
                        <th>Details naissance</th> -->
                        <th>Sexe</th>
                        <th>Situation</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let pers of person1" >
                        <td>{{pers.identityNumberSt}}</td>
                        <td>{{pers.name}}</td>
                        <td>{{pers.familyName}}</td>
                        <td>{{pers.placeOfBirth}}</td>
                        <td>{{pers.dateOfBirth}}</td>
                  <!--  <td>{{pers.placeDelivry}}</td> 
                        <td>{{pers.dateOfBirth}})--{{(pers.dateOfBirthWord)}}</td> -->
                        <td>{{pers.sexeStr}}</td>
                        <td>{{pers.situationMatrimonialeStr}}</td>
                        <td class="rest-center"><button class="btn btn-danger btn-xs" (click)="deletePerson(pers.id)"> Delete</button>
                 <!-- Button trigger modal -->
                              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" >
                                Modifier
                              </button>

                              <!-- Modal pour suppression-->
                              <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h5 class="modal-title" id="exampleModalLabel" style="text-align: center;">Suppression!!!!!!</h5>
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                    </div>
                                    <div class="modal-body" style="color: red;">
                                      Voulez-vous vraiment supprimez la personne ayant la CIN {{pers.id}}
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                                      <button class="btn btn-danger btn-xs" data-dismiss="modal" > OK</button>
                                    </div>
                                  </div>
                                </div>
                              </div>
                        </td>
                    </tr>
                </tbody> 
             <!--   <select>
                  <tbody *ngFor="let commune of communeName">
                        <option>{{commune.nameCommune}}</option>
                  </tbody>
                </select> -->
            </table>
        </div>
    </div>
  </div>

  <!-- modal  pour actualiser liste après ajout-->
  <div class="modal fade" id="actualiserListe" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel" style="text-align: center;">Ajout person!!!!!!</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="color:royalblue;">
          Valeur ajouté avec succès
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary btn-xs" data-dismiss="modal" (click)="listPerson()"> OK</button>
        </div>
      </div>
    </div>
  </div>





  <p>list-person works!</p>

  <!-- Footer -->
<footer class="page-footer font-small special-color-dark pt-4">

  <!-- Footer Elements -->
  <div class="container">

    <!-- Social buttons -->
    <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item">
        <a class="btn-floating btn-fb mx-1">
          <i class="fab fa-facebook-f"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-tw mx-1">
          <i class="fab fa-twitter"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-gplus mx-1">
          <i class="fab fa-google-plus-g"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-li mx-1">
          <i class="fab fa-linkedin-in"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-dribbble mx-1">
          <i class="fab fa-dribbble"> </i>
        </a>
      </li>
    </ul>
    <!-- Social buttons -->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="http://localhost:4200/listePerson"> Spring boot </a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
