body {
    padding-top: 0;
    color: black;
    font-weight: 400;
    background-color:rgb(245, 246, 248);
  }
  
  .navbar {
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
  }