.entete {
    background-color: rgb(147, 153, 158);
    color: rgb(255, 255, 255);
}

.corp-table {
    background-color: rgb(95, 171, 248);
    color: rgb(255, 255, 255);
}

body {
    background-color: rgb(234, 244, 247);
}