<div class="container">
    <h2>Toggleable Pills</h2>
    <br>
    <!-- Nav pills -->
    <ul class="nav nav-pills" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="pill" href="http://localhost:4200/addPerson">Accueil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://localhost:4200/listePerson">Personne</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="pill" href="#menu2">Region</a>
      </li>
    </ul>


<div style="text-align: center;">
    <h1>{{message}}</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form>
                <fieldset>
                <legend class="text-center">Valid information is required *
                       </legend>
                
                <div class="form-group">
                    <label for="name"><span class="req">*</span> name:</label>
                    <input required type="text" [(ngModel)]="person.name" name="name"
                        class="form-control" type="text" placeholder="Entrer votre identifiant"/>
                </div>
                
                <div class="form-group">
                    <label for="dateDelivry"><span class="req">*</span> Date delivrance:</label>
                    <input required type="text"name="dateDelivry"
                        class="form-control" type="text" placeholder="Entrer votre nom"/>
                </div>

                <!--<div class="form-group">
                    <label for="password"><span class="req">*</span> password:</label>
                    <input required type="text" [(ngModel)]="user.password" name="password" 
                        class="form-control" type="text" placeholder="Entrer votre password"/>
                </div>

                <div class="form-group">
                    <label for="age"><span class="req">*</span> Age:</label>
                    <input required type="text" [(ngModel)]="user.age" name="age"
                        class="form-control" type="number" placeholder="Entrer votre age"/>
                </div>

                <div class="form-group">
                    <label for="gender"><span class="req">*</span> sexe:</label>
                    <input required type="text" [(ngModel)]="user.gender" name="gender"
                        class="form-control" type="text" placeholder="Entrer votre sexe"/>
                    <div class="status" id="status"></div>   
                </div> -->

                <div class="form-group">
                    <input class="btn btn-success" type="submit" name="submit_reg" value="Register" (click)="addPersonNow()">
                </div>
            </fieldset>
            </form>
        </div>
    </div>
</div>

<p>add-person works!</p>
